* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  color: black;
}

.main {
  width: 100%;
  margin: auto;
  padding: 0 81px;
  position: relative;
}